/*<!--*/
/*Rajpreet Dhaliwal*/
/*Assignment: Cupcake*/
/*Url: https://github.com/rdhaliwal6/cupcake*/
/*-->*/
.err {
    color: darkred;
    visibility: hidden;
}

.btn{
    background-color: #1e7e34;
}